/* Estilos Gerais */
body{
    background-color: rgb(13, 172, 172);
    padding: 30px;
}

/* Container da Calculadora */
#containerCalc{
    background-color: azure;
    margin: auto;
    padding: 5px;
    width: 300px;
    height: 460px;
    font-size: 0; /* Isso faz com que desapareça os espaços entre os botões criados pelo inline-block */
}

/* Inicia estilos do visor */
.classVisor{
    padding-right: 15px;
    width: 285px;
}

#visor{
    background-color: rgb(184, 184, 184);
    font-size: 20px;
    text-align: right;
    width: 100%;
    height: 80px;
    margin: auto;
    margin-bottom: 5px;
}

div #visor p{
    color: rgb(117, 117, 117);
    margin: 0;
}

#valorGuardado{
    padding-top: 7px;
}

#valorVisor{
    font-size: 40px;
}

/* Inicia estilo dos botões */
.button{
    cursor: pointer;
    display: inline-block;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

.button:hover{
    background-color: rgb(127, 184, 231);
}

.button:active{
    background-color: rgb(122, 195, 255);
}

span{
    display: table-cell;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}